[submodule "reference-implementations/wfm/symphony"]
	path = reference-implementations/wfm/symphony
	url = https://github.com/eclipse-symphony/symphony.git
[submodule "example-integrations/wfm/symphony"]
	path = example-integrations/wfm/symphony
	url = https://github.com/eclipse-symphony/symphony.git
[submodule "poc/wfm/server/symphony"]
	path = poc/wfm/server/symphony
	url = https://github.com/margo/symphony.git
