version: "3.8"

services:
  device-agent:
    build:
      context: .
      dockerfile: poc/device/agent/Dockerfile
    container_name: device-agent
    volumes:
      - /root/dev-repo/poc/device/agent/config:/root/dev-repo/poc/device/agent/config
      - /root/dev-repo/poc/device/agent/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.kube/config:/root/.kube/config:ro  
    restart: unless-stopped
    entrypoint: ["./device-agent"]
    command: ["-config", "/root/dev-repo/poc/device/agent/config/config.yaml"]