deviceSignature: "sign-104-this-is-a-test-signature-binded-to-this-device-only"
wfm: 
  sbiUrl: http://localhost:8082/v1alpha2/margo/sbi/v1 #http://172.19.59.148:8082/v1alpha2/margo/sbi/v1
  # the auth info is auto-fetched by the agent when it gets onboarded
  # but if you, for any reason, want to specify the oauth info, then you can pass that info over here 
  auth:
    # if the wfm doesn't have oauth enabled on its endpoints, then set enable: false
    # and the agent will not add any authorization header in the request
    enable: false
  #   clientId:
  #   clientSecret:
  #   tokenUrl:

logging:
  # Log level (e.g., DEBUG, INFO, WARN, ERROR, FATAL)
  level: DEBUG

stateSeeking:
  # How frequently the agent attempts to seek for the desired state from wfm
  # in seconds
  interval: 15

# the agent architecture is kept in a way that it is capable of managing more than one runtimes
# but keep this in mind that it adds more cognitive complexity for somebody to understand when
# multiple such kind of agents will be running in an environment
runtimes:
  - type: KUBERNETES
    kubernetes:
      kubeconfigPath: /root/.kube/config
  # - type: DOCKER
  #   docker:
  #     url: unix:///var/run/docker.sock #http://localhost:8080 #unix://var/unix/socket
  #     tlsSkipVerification: true
      # tls:
      #   cacertPath: null
      #   certPath: null
      #   keyPath: null

# Note: Auto-discovery of device capabilities is not defined and hence not implemented yet,
# hence you are supposed to provide the details
# in the file.
# Path to the capabilities file (required).
capabilities:
  readFromFile: poc/device/agent/config/capabilities.json
