logging:
  # Log level (e.g., DEBUG, INFO, WARN, ERROR, FATAL)
  level: DEBUG
  
# The device's root identity/attestation used for onboarding/registration of this device client with WFM (for auto-onboarding).
deviceRootIdentity:
  # Supported values: RANDOM, PKI, later on you can use it to add support for something like TPM, FIDO etc.
  identityType: "PKI"
  # Type-specific attestation or credential data. Keep only the keys that you need.
  attestation:
    # if you have set identity type as Random, then set these details
    # random:
    #   value: "this-is-a-unique-random-identity-attached-with-this-device"
    
    # if you have set identity type as PKI, then set these details
    pki:
      # certificate that the device client will present to the wfm during registration
      pubCertPath: ./config/device-rsa.crt

wfm:
  sbiUrl: https://10.139.9.90:8082/v1alpha2/margo/sbi/v1 #http://172.19.59.148:8082/v1alpha2/margo/sbi/v1
  clientPlugins:
    requestSigner:
      enabled: true
      hashAlgo: "sha256" # supported: sha256, used to create a hash of the payload
      signatureAlgo: "rsa" # supported: rsa, or ecdsa, these are used to sign the hash
      signatureFormat: "structured" # supported: structured, http-signature, how the signature will be added to the http request
      keyRef:
        path: "./config/device-rsa.key" # this should be the path to the private key pem file

    # the auth info is auto-fetched by the agent when it gets onboarded
    # but if you, for any reason, want to specify the oauth info, then you can pass that info over here 
    authHelper:
      # if the wfm doesn't have oauth enabled on its endpoints, then set enable: false
      # and the agent will not add any authorization header in the request
      enabled: false

    # this plugin will be used to verify server tls certificates
    # note: we do not support mTLS hence client side certificates are not part of this configuration
    tlsHelper:
      enabled: true
      # path to the ca certificate that will be used to verify server certificates
      caKeyRef: 
        path: "./config/ca-cert.pem"

stateSeeking:
  # How frequently the agent attempts to seek for the desired state from wfm
  # in seconds
  interval: 15

# the agent architecture is kept in a way that it is capable of managing more than one runtimes
# but one client with multiple devices is not defined by Margo yet. For example: what would be the identification
# for the client and the device. Will WFM be aware of the client and devices? Etc...
# If this is needed please reach out to the Margo group and follow the formal approach of Margo for SUPs.
# For now, always keep one runtime in this section, and comment all other
runtimes:
  - type: KUBERNETES
    kubernetes:
      kubeconfigPath: /root/.kube/config
  # - type: DOCKER
  #   docker:
  #     url: unix:///var/run/docker.sock #http://localhost:8080 #unix://var/unix/socket
  #     tlsSkipVerification: true
  #     tls:
  #       cacertPath: null
  #       certPath: null
  #       keyPath: null

# Note: Auto-discovery of device capabilities is not defined and hence not implemented yet,
# hence you are supposed to provide the details
# in the file.
# Path to the capabilities file (required).
capabilities:
  readFromFile: ./config/capabilities.json
