deviceId: device-101
wfmSbiUrl: http://172.19.59.148:8082/v1alpha2/margo/sbi/v1
capabilitiesFile: /root/margo/dev-repo/poc/device/agent/config/capabilities.json
runtimeInfo:
  type: KUBERNETES
  kubernetes:
    kubeconfigPath: /root/.kube/config


# Device agent core configuration
# agent:
#   id: "device-101" # Unique identifier for this specific device agent
#   name: "Production Device Agent X" # Human-readable name
#   description: "Agent for monitoring and controlling production device in data center" # Brief purpose description
#   stateSeekingIntervalSeconds: 300 # How frequently the agent attempts to reach its desired state
#   # logging settings
#   logging:
#     level: "INFO" # Log level (e.g., DEBUG, INFO, WARN, ERROR, FATAL)
#     file:
#       path: "/var/log/margo/agent.log" # Path to the log file
#       maxSizeMB: 100 # Maximum log file size before rotation (in megabytes)
#   # Capabilities of the device the agent manages
#   capabilities:
#     # Note: Auto-discovery of device capabilities is not implemented yet, hence you are supposed to provide the details
#     # in the file.
#     # Path to the capabilities file (required).
#     capabilitiesFile: "/root/margo/dev-repo/poc/device/agent/config/capabilities.json" 
#   # Management and communication settings with external systems (e.g., Workflow Management)
#   management:
#     wfmSbiUrl: "http://172.19.59.148:8082/v1alpha2/margo/sbi/v1" # Workflow Management System - Southbound Interface URL

# # Runtime environment configuration where the agent is deployed
# runtime:
#   type: "KUBERNETES" # "KUBERNETES", "DOCKER", etc.
#   # Kubernetes-specific configuration (applicable only if runtime.type is KUBERNETES)
#   kubernetes:
#     kubeconfigPath: "/root/.kube/config" # Path to the Kubernetes configuration file
#   # Docker-specific configuration (applicable only if runtime.type is DOCKER)
#   # docker:
#   #   host: localhost # Docker host (if connecting to a remote daemon)
#   #   port: 8080 # Docker daemon port