version: '3.8'

services:
  device-agent:
    container_name: device-agent
    image: margo.org/device-agent:latest
    pull_policy: never  # Options: always, never, missing, build
    volumes:
      # - /root/.kube/config:/root/.kube/config:ro # to manage kubernetes runtimes
      - /var/run/docker.sock:/var/run/docker.sock # to manage docker runtimes
      - ./config/config.yaml:/config/config.yaml
      - ./config/capabilities.json:/config/capabilities.json
      - ./config/device-private.key:/config/device-private.key
      - ./config/device-public.crt:/config/device-public.crt
      - ./config/device-ecdsa.key:/config/device-ecdsa.key
      - ./config/device-ecdsa.crt:/config/device-ecdsa.crt
      - ./config/ca-cert.pem:/config/ca-cert.pem
      - ./data:/data
    restart: unless-stopped
    entrypoint: ["./device-agent"]
    command: ["-config", "config/config.yaml"]
