name: Run Symphony Application

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Installing dependencies
        run: |
            # Install Go
              sudo apt update -y
              sudo apt install golang-go -y
  
      - name: Install Rust
        run: |
            # Install Rust
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
              source $HOME/.cargo/env

      - name: Clone Symphony repo
        run: |
            # Clone or update Symphony repo
            if [ ! -d "$HOME/symphony/.git" ]; then
              git clone https://github.com/eclipse-symphony/symphony.git
            else
              cd $HOME/symphony && git pull
            fi

      - name: Build Rust library
        run: |
            # Build Rust library
      - name: Build Rust Library (if exists)
        shell: bash
        run: |
          set -e
          RUST_PATH="$HOME/symphony/api/pkg/apis/v1alpha1/providers/target/rust"
          if [ -d "$RUST_PATH" ]; then
            cd "$RUST_PATH"
            cargo build --release
          else
            echo "Rust directory not found. Skipping Rust build."
          fi

      - name: Build Go binary
        run: |
            # Build Go binary
            export LD_LIBRARY_PATH=$HOME/symphony/api/pkg/apis/v1alpha1/providers/target/rust/target/release
            cd ~/symphony/api
            go build -o symphony-api

      - name: Run symphony-api
        run: |
            # Run symphony-api in background
            nohup env SYMPHONY_API_URL="http://localhost:8082/v1alpha2/" USE_SERVICE_ACCOUNT_TOKENS="false" ./symphony-api -c ./symphony-api-no-k8s.json -l Debug > symphony-api.log 2>&1 &
            echo "symphony-api started."
