name: Run Symphony Application

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Environment and deploy Symphony API
        uses: appleboy/ssh-action@v0.1.8
        with:
          script: |
            # Install Go
              sudo apt update -y
              sudo apt install golang-go -y

            # Install Rust
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
              source $HOME/.cargo/env

            # Clone or update Symphony repo
            if [ ! -d "$HOME/symphony/.git" ]; then
              git clone https://github.com/eclipse-symphony/symphony.git
            else
              cd $HOME/symphony && git pull
            fi

            # Build Rust library
            source $HOME/.cargo/env
            cd ~/symphony/api/pkg/apis/v1alpha1/providers/target/rust
            cargo build --release

            # Build Go binary
            export LD_LIBRARY_PATH=$HOME/symphony/api/pkg/apis/v1alpha1/providers/target/rust/target/release
            cd ~/symphony/api
            go build -o symphony-api

            # Run symphony-api in background
            nohup env SYMPHONY_API_URL="http://localhost:8082/v1alpha2/" USE_SERVICE_ACCOUNT_TOKENS="false" ./symphony-api -c ./symphony-api-no-k8s.json -l Debug > symphony-api.log 2>&1 &
            echo "symphony-api started."
