name: Testing Symphony pipeline

on:
  workflow_dispatch:

jobs:
  install_symphony:
    name: Symphony Install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check and install Go and Rust
        run: |
          if ! command -v go &> /dev/null; then
            sudo apt update -y
            sudo apt install golang-go -y
          else
            echo "Go already installed."
          fi

          if ! command -v cargo &> /dev/null; then
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            source $HOME/.cargo/env
          else
            echo "Rust already installed."
          fi

      - name: Clone or update Symphony repository
        run: |
          if [ ! -d "$HOME/symphony/.git" ]; then
            git clone https://github.com/eclipse-symphony/symphony.git
          else
            cd $HOME/symphony
            git pull
            echo "Symphony repo updated."
          fi

      - name: Build native Rust library
        run: |
          source $HOME/.cargo/env
          cd $HOME/symphony/api/pkg/apis/v1alpha1/providers/target/rust
          if [ ! -f target/release/libsymphony_provider.so ] || [ $(find src -type f -newer target/release/libsymphony_provider.so 2>/dev/null | wc -l) -gt 0 ]; then
            cargo build --release
            echo "Rust library built."
          else
            echo "Rust library is up-to-date, skipping build."
          fi

      - name: Build symphony-api Go binary
        run: |
          export LD_LIBRARY_PATH=$HOME/symphony/api/pkg/apis/v1alpha1/providers/target/rust/target/release
          cd $HOME/symphony/api
          go build -o symphony-api

      - name: Run symphony-api in background
        run: |
          cd $HOME/symphony/api
          pkill -f symphony-api || true
          nohup env SYMPHONY_API_URL="http://localhost:8082/v1alpha2/" USE_SERVICE_ACCOUNT_TOK
